body {
  font-family: Lalezar  ;

}




.chart1 {
    display: block;
    margin: auto;
    width:65%;
    padding: 30px;
    
  }



.date21 {
    text-align: center;
}

.dropbox{

  margin: 10px;

}

p .comment {

  direction: rtl ;
 


}