{% extends 'web/_base.html' %}
{% load static %}


{% block navbar %} 
    <form method="GET" enctype="text/plain">

        <label for="gurd_name">نام نگهبان :</label>
        <input type="text" name="gurd_name">
        <button type="submit" > جستجو</button>
    
    </form>
{% endblock navbar %}


{% block main %}

<div class='date21'>
  <p  >
  نام نگهبان :
  {{name|safe}}
  </p>
</div>

 {% endblock main %}


{% block chart1 %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<div class="chart1" >
    <canvas id="bar-chart" ></canvas>
</div>

<script>


new Chart(document.getElementById("bar-chart"), {
    type: 'line',
    data: {
      labels: {{labels|safe}},
      datasets: [
        {
          label: "دقیقه",
          backgroundColor: "#2550FF",
          data: {{data|safe}}
        },
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text:  'نمودار مدت گشت زنی به دقیقه'
      }
    }
})

</script>
{% endblock chart1%}



