{% extends 'web/_base.html' %}
{% load static %}


{% block main %}

<div class='date21'>
  <p  >
  گشت زنی مورخ :
  {{date|date:" d/m/Y"}}
  </p>
</div>

 {% endblock main %}

{% block dropbox %} 
  <a class="btn btn-dark" href={% url 'web:upload' %} role="button">بارگذاری</a>
{% endblock dropbox %}

{% block chart1 %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<div class="chart1" >
    <canvas id="bar-chart" ></canvas>
</div>

<script>
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{labels|safe}},
      datasets: [
        {
          label: "دقیقه",
          backgroundColor: "#6ACA22",
          data: {{data|safe}}
        },
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text:  'نمودار مدت گشت زنی به دقیقه'
      }
    }
})

</script>
{% endblock chart1%}



