{% extends 'web/_base.html' %}
{% load static %}


{% block page_titile %}
 سامانه نگهبانی
{% endblock page_titile %}


{% block main %}

<h4 class="alert-dark" style="text-align: center;">گزارش روزانه</h4>

{% if comments %}
  <div class="comment">
    <div class="alert alert-dark" role="alert">
      
      {% for comment in comments%}
        
        <p>{{comment.content}}</p>
     
        <p>{{comment.publisher.first_name}} __  ساعت: {{comment.publish_date|date:"P"}} </p>
        <hr>
    
      {% endfor %}
      
    </div>
  </div>

{% else %}
<br>
<br>
<br>
{% endif%}

<div class='date21'>
  <h4 class="alert-dark" style="text-align: center;">
      نمودار گشت زنی مورخ  :
      {{date|date:" Y/m/d"}}
  </h4>

</div>

 {% endblock main %}

{% block dropbox %} 

  <div class="dropdown">

    <a class="btn btn-dark" href={% url 'web:upload' %} role="button">بارگذاری</a>
    <a class="btn btn-dark" href={% url 'web:comment' %} role="button">ثبت  گزارش </a>

    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      گزارش گیری
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href={% url 'web:details_report' %}>انفرادی</a>
      <a class="dropdown-item" href='#'>مقایسه ای</a>
      <a class="dropdown-item" href='#'>زمانی</a>
    </div>
</div>
{% endblock dropbox %}

{% block chart1 %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<div class="chart1" >
    <canvas id="bar-chart" ></canvas>
</div>

<script>
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{labels|safe}},
      datasets: [
        {
          label: "دقیقه",
          backgroundColor: "#3A970E",
          data: {{data|safe}}
        },
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text:  'نمودار مدت گشت زنی به دقیقه'
      }
    }
})

</script>
{% endblock chart1%}



