{% extends 'web/_base.html' %}
{% load static %}


{% block page_titile %}
گزارش گشت نگهبانی
{% endblock page_titile %}


{% block main %}

<div class="comment">

  <div class="alert alert-light" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    {% for comment in comments%}
      
    <p>{{comment.content}}</p>
    <p> {{comment.publidh_date}} </p>
    <hr>
    {% endfor %}
    
  </div>

</div>

<div class='date21'>
  <p  >
  گشت زنی مورخ :
  {{date|date:" d/m/Y"}}
  </p>
</div>

 {% endblock main %}

{% block dropbox %} 
  <a class="btn btn-dark" href={% url 'web:upload' %} role="button">بارگذاری</a>
  <a class="btn btn-dark" href={% url 'web:details_report' %} role="button">گزارش گیری</a>

{% endblock dropbox %}

{% block chart1 %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<div class="chart1" >
    <canvas id="bar-chart" ></canvas>
</div>

<script>
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{labels|safe}},
      datasets: [
        {
          label: "دقیقه",
          backgroundColor: "#3A970E",
          data: {{data|safe}}
        },
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text:  'نمودار مدت گشت زنی به دقیقه'
      }
    }
})

</script>
{% endblock chart1%}



